<footer class="bg-app-gradient-soft text-white/80 mt-20">
  <div class="container mx-auto px-4 h-19 flex items-center justify-center">
    <div class="flex space-x-8 text-sm">
      <%= link_to t("footer.contact"), contact_path %>
      <%= link_to t("footer.terms"), terms_of_service_path %>
      <%= link_to t("footer.privacy"), privacy_policy_path %>
    </div>
  </div>
</footer>